<footer id="footerpad">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8 mx-auto">
                <ul class="list-inline text-center" style="margin: 15px 0px 1px;">
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/facebook"><img src="img/Facebook_Logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/twiter"><img src="img/twiter_logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/telegram"><img src="img/telegram_logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/whatsapp"><img src="img/whatsapp_logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/github"><img src="img/github_logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/instagram"><img src="img/instagram_logo-ic.png"></a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="float-md-right region">
                            <a href="/linkedin"><img src="img/linked_in-ic.png"></a>
                        </div>
                    </li>
                </ul>
                <p class="copyright text-muted text-center">Social Media</p>
            </div>
        </div>
    </div>
</footer>
<footer class="page-footer" style="background: #74f4e4;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3" style="margin-top: 15px;">
                <h3 style="text-align: center;font-size: 13px;">Desktop Programming</h3>
                <ul class="footer-links">
                    <li><a href="#">Windows Form Application Using C++</a></li>
                    <li><a href="#">Windows Form Application Using C#</a></li>
                    <li><a href="#">Java Application Using Swing and AWT</a></li>
                    <li><a href="#">Java Applet</a></li>
                    <li><a href="#">Python GUI</a></li>
                    <li><a href="#">Form Application using QT and C++</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3" style="margin-top: 15px;">
                <h4 style="text-align: center;font-size: 13px;">Web Developments</h4>
                <ul class="footer-links">
                    <li><a href="#">Client Side Using (HTML, CSS, JavaScript)</a></li>
                    <li><a href="#">Server Side Using (PHP, AJax, JQuery)</a></li>
                    <li><a href="#">Website building Using Nodejs</a></li>
                    <li><a href="#">Website building using Reactjs </a></li>
                    <li><a href="#">Website building Using ASP</a></li>
                    <li><a href="#">Website building using JSP and JSF</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3" style="margin-top: 15px;">
                <h4 style="text-align: center;font-size: 13px;">Software Engineering and IT</h4>
                <ul class="footer-links">
                    <li><a href="#">System Analyses & Design</a></li>
                    <li><a href="#">Software Architecture</a></li>
                    <li><a href="#">Information Technology Project Managements</a></li>
                    <li><a href="#">Software Design</a></li>
                    <li><a href="#">Software Engineering</a></li>
                    <li><a href="#">Software Architecture</a></li>
                    <li><a href="#">Human Computer Interaction</a></li>
                    <li><a href="#">UML Diagraming</a></li>
                    <li><a href="#">Report and Document writing</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3" style="margin-top: 15px;">
                <h4 style="text-align: center;font-size: 13px;">Programming Courses</h4>
                <ul class="footer-links">
                    <li><a href="#">Programming I (C, C++, C#, Java, Python)</a></li>
                    <li><a href="#">Programming II(C, C++, C#, Java, Python)</a></li>
                    <li><a href="#">Data Structure and Algorithm (C, C++, Java, Python)</a></li>
                    <li><a href="#">Algorithm Analyses and Complexity (C, C++, Java, Python)</a></li>
                    <li><a href="#">Computer Graphics Using (OpenGL, Java, JavaScript)</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-3" style="margin-top: 15px;">
                <h4 style="text-align: center;font-size: 13px;">Other Engineering Courses</h4>
                <ul class="footer-links">
                    <li><a href="#">Database (Oracle, MySql, MongoDB, SQL Server, Apache)</a></li>
                    <li><a href="#">Computation Theory and Automata</a></li>
                    <li><a href="#">Compiler Design</a></li>
                    <li><a href="#">Assembly and Micro-Processor</a></li>
                    <li><a href="#">Computer Architecture</a></li>
                    <li><a href="#">Discrete Math</a></li>
                    <li><a href="#">Image Processing (MATLAB, Python)</a></li>
                    <li><a href="#">Computer Vision</a></li>
                    <li><a href="#">Network Programming -Client-Server Application (Java, C++)</a></li>
                </ul>
            </div>
        </div>
        <p style="text-align: center;font-size: 13px;">We also, provide Graduation projects for all collages with
            Project I and Project II.</p>
        <hr>
        <div class="footer-legal">
            <div class="float-md-right region"><a href="#"><img src="img/yemen-flag-ic.png">Yemen</a></div>
            <div class="d-inline-block copyright">
                <p class="d-inline-block">Copyright Ideal Soft © 2018. All rights reserved.<br></p>
            </div>

        </div>
    </div>
</footer>