<div class="container">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" data-aos="fade-right" style="background: #74f4e4;">
        <div class="container-fluid">
            <div><a class="navbar-brand bg-success" href="img/logo-fiera.gif"></a><button data-toggle="collapse"
                    class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                        class="navbar-toggler-icon"></span></button></div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" data-aos="fade-up">
                    <li class="nav-item"><a class="nav-link" href="/">Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="/Programs">Programs&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Products">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Contact">Contact Us&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Admin">Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>