<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>navheader</title>
    <link rel="stylesheet" href="Header-Styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="Header-Styles/css/NavBar_202003.css">
    <link rel="stylesheet" href="Header-Styles/css/styles.css">
</head>

<body style="font-size: 16px;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" data-aos="fade-right" style="background: #74f4e4;">
        <div class="container-fluid">
            <div><a class="navbar-brand bg-success" href="http://www.rovigocrea.it"> <img src="Header-Styles/img/logo_fiera-3.GIF"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav" data-aos="fade-up">
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/index.html">Home </a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/informazioni.html">Programs&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/photo_gallery.html">Community</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/programma.html">Strategy&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/dove_siamo.html">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://www.rovigocrea.it/dove_siamo.html">Account</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <script src="Header-Styles/js/jquery.min.js"></script>
    <script src="Header-Styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="Header-Styles/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
</body>

</html>
