<div class="container">
  <div class="pricing1 py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h3 class="mt-3 font-weight-medium mb-1">Our Programs for Academic Graduation Projects </h3>
        <h6 class="subtitle">We offer 100% satisafaction and Excellent Mark on Projects on :</h6>
        <div class="switcher-box mt-4 d-flex align-items-center justify-content-center">
          <span class="font-14 font-weight-medium">Projrct I</span>
          <div class="onoffswitch position-relative mx-2">
            <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox d-none" id="myonoffswitch1">
            <label class="onoffswitch-label d-block overflow-hidden" for="myonoffswitch1">
							<span class="onoffswitch-inner d-block"></span>
							<span class="onoffswitch-switch d-block bg-white position-absolute"></span>
						</label>
          </div>
          <span class="font-14 font-weight-medium">Project II</span>
        </div>
      </div>
    </div>
    <!-- Row  -->
    <div class="row mt-5">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">GP Report I</h5>
            <h6 class="subtitle font-weight-normal">For 2-4 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">350</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> for each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Best Report with (Overleaf, LaTex)</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-report"> our simple report</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">Mobile Application</h5>
            <h6 class="subtitle font-weight-normal">With 1-5 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">1450</span>
              <small class="monthly">/Application</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> for each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Both Ios/Android Application</li>
              <li class="d-block py-2">Amazing UI/UX Design</li>
              <li class="d-block py-2">Explanation Video for coding and work.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-application"> Application Samples</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">Website with Application</h5>
            <h6 class="subtitle font-weight-normal">with 1-5 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">1250</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Website with Admin page connected with phone</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-web-app"> Website Samples</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">Desktop</h5>
            <h6 class="subtitle font-weight-normal">With 1-5 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">1150</span>
              <small class="monthly">/Project</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Easy, Simple to Use, and efficient functionality</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-desktop"> Desktop Samples</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">NS2-Projects</h5>
            <h6 class="subtitle font-weight-normal">For 2-4 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">350</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Best Report with (Overleaf, LaTex)</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-ns2"> our simple report</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">CLIENT-SERVER</h5>
            <h6 class="subtitle font-weight-normal">For 2-4 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">350</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Best Report with (Overleaf, LaTex)</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-client-server"> our simple report</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">Data Science & ML</h5>
            <h6 class="subtitle font-weight-normal">For 2-4 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">350</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Best Report with (Overleaf, LaTex)</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-ds-ml"> our simple report</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
        <div class="card text-center card-shadow on-hover border-0 mb-4">
          <div class="card-body font-14">
            <h5 class="mt-3 mb-1 font-weight-medium">COURSES PROJ</h5>
            <h6 class="subtitle font-weight-normal">For 2-4 Chapters</h6>
            <div class="pricing my-3" style="color: rgb(243, 22, 70);">
              <sup>$</sup>
              <span class="monthly display-5">350</span>
              <small class="monthly">/Report</small>
              <span class="d-block">Save <span class="font-weight-medium">$50</span> Each Group</span>
            </div>
            <ul class="list-inline" style="color: blueviolet;">
              <li class="d-block py-2">Best Report with (Overleaf, LaTex)</li>
              <li class="d-block py-2">Updating at any time</li>
              <li class="d-block py-2">Explanation Video for all report.</li>
              <li class="d-block py-2">&nbsp;<u> <a href="/sample-courses-project"> our simple report</a></u></li>
            </ul>
            <div class="bottom-btn">
              <button class="btn btn-primary btn-block text-white btn-user"><span>Purchase </span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
