<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredoka+One">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/4-Columns-Info-Icons.css">
    <link rel="stylesheet" href="assets/css/animated-services.css">
    <link rel="stylesheet" href="assets/css/carousel-circulo.css">
    <link rel="stylesheet" href="assets/css/Landing-Section-with-Call-to-Action-BS4.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <hr style="color: rgb(4,48,95);border-width: 5px;">
    <div class="carousel slide" data-ride="carousel" id="carousel-2">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row product-list">
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento1.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Limpeza (Profilaxia) </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item" style="text-align: center;">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento3.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left: 27px;margin-top: 0px;text-align: center;"><a style="color: rgb(193,13,13);font-size: 17px;font-family: Abel, sans-serif;margin-left: -2px;text-align: center;" href="#">Clareamento </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento4.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Tratamento infantl</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento2.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Implantes e Próteses </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><img class="w-100 d-block d-none" src="http://placeholdit.imgix.net/~text?txtsize=42&amp;txt=Carousel+Image&amp;w=1400&amp;h=600" alt="Slide Image"></div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row product-list">
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento1.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Limpeza (Profilaxia) </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento3.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Clareamento </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento4.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Tratamento infantl</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 product-item">
                            <div class="product-container">
                                <div class="row">
                                    <div class="col-md-12"><a class="product-image" style="margin-bottom:-10px;" href="#"><img class="rounded-circle" style="border:solid 6px rgb(220,219,219);" src="assets/img/tratamento2.png"></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="width:252px;padding-right:0px;padding-left:0px;font-size:3px;">
                                        <h2 class="text-nowrap text-center" style="margin-left:27px;margin-top:0px;"><a style="color:rgb(193,13,13);font-size:17px;font-family:Abel, sans-serif;margin-left:-2px;" href="#">Implantes e Próteses </a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><img class="w-100 d-block d-none" src="http://placeholdit.imgix.net/~text?txtsize=42&amp;txt=Carousel+Image&amp;w=1400&amp;h=600" alt="Slide Image"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev" style="background-image:url(&quot;0&quot;);"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-2"
                role="button" data-slide="next" style="background-image:url(&quot;o&quot;);"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-2" data-slide-to="1"></li>
        </ol>
    </div>
    <hr style="color: rgb(6,53,102);border-width: 5px;">
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <h5 class="d-inline-block justify-content-lg-center" style="background-color: #e2d6b5;width: 120px;margin-left: 0px;border-radius: 30px;padding: 5px;margin-top: 20px;color: #ffffff;font-size: 18px;">SERVICES</h5>
                <h2 style="color: #75aadb;">We Offer Awesome<span style="color: #d12d33;"><strong>&nbsp;Services</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;"><strong>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</strong><br>&nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-dribbble" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-renren" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-telegram" style="margin-bottom: 15px;"></i>
                            <h4 class="title">Lorem Ipsum<a href="#"></a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr style="border-width: 5px;border-color: rgb(4,49,96);">
    <div class="landing-threshold">
        <div class="container-fluid">
            <div class="landing-intro">
                <h1>Design with&nbsp;<span class="brand" alt="Webim Papua New Guinea, Located in Garden Hills, Port Moresby">W<span>ebi</span>M</span>
                </h1>
                <p class="lead">Digital Solutions for Marketing and Web Development</p>
                <p class="lead sr-only">Webim PNG is a Digital Marketing and Web Development Business Located in Port Moresby, Papua New Guinea. Services provided by webim PNG include: Search Engine Optimization, Social Media Integrated Engagements, Content Marketing, Email
                    Marketing, Progressive Web Applications, Web Performance &amp; Analytics.</p><a class="btn" href="#">Learn More</a></div>
            <div class="d-flex justify-content-between landing-cta-group"><span class="align-self-end social-links"><a href="https://www.facebook.com/Webim-PNG-100236798021993" target="_blank"><i class="fa fa-facebook"></i></a><a href="https://www.pinterest.com/0kybwxsjpsixrwndk5tstfuc9yvk64"><i class="fa fa-pinterest-p"></i></a><a href="#"><i class="fa fa-youtube-play"></i></a><a href="https://www.instagram.com/webim.png/" target="_blank"><i class="fa fa-instagram"></i></a><a href="https://www.linkedin.com/in/arnold-forova-b12610170/" target="_blank"><i class="fa fa-linkedin"></i></a></span>
                <div
                    class="btn-group-vertical align-self-center" role="group"><button class="btn btn-success btn-sm" type="button"><i class="material-icons">phone</i></button><button class="btn btn-primary btn-sm" type="button"><i class="material-icons">textsms</i></button><button class="btn btn-danger btn-sm" type="button"><i class="material-icons">email</i></button></div>
        </div>
    </div>
    </div>
    <hr style="border-width: 5px;border-color: rgb(4,69,139);">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
            <h5 class="text-center">Web hosting</h5>
            <div class="login-card"><img class="profile-img-card" src="http://placehold.it/350x350">
                <p class="profile-name-card">Lorem ipsum</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
            <h5 class="text-center">Application </h5>
            <div class="login-card"><img class="profile-img-card" src="http://placehold.it/350x350">
                <p class="profile-name-card">Lorem ipsum</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
            <h5 class="text-center">Marketing </h5>
            <div class="login-card"><img class="profile-img-card" src="http://placehold.it/350x350">
                <p class="profile-name-card">Lorem ipsum</p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
            <h5 class="text-center">Dashboard </h5>
            <div class="login-card"><img class="profile-img-card" src="http://placehold.it/350x350">
                <p class="profile-name-card">Lorem ipsum</p>
            </div>
        </div>
    </div>
    <hr style="color: rgb(6,68,133);border-width: 5px;">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>